# Docker Compose file picker
# Lines starting with # are disabled
# Remove # to enable a file

# === ROOT (required) ===
docker-compose.yml
# goclaw/docker-compose.yml
# picoclaw/docker/docker-compose.yml

# === SERVICE (optional) ===
# goclaw/compose.d/00-goclaw.yml
# goclaw/compose.options/11-postgres.yml
# goclaw/compose.options/12-selfservice.yml
# goclaw/compose.options/13-upgrade.yml
# goclaw/compose.options/14-browser.yml
# goclaw/compose.options/15-otel.yml
# goclaw/compose.options/16-redis.yml
# goclaw/compose.options/17-sandbox.yml
# goclaw/compose.options/18-tailscale.yml
# goclaw/docker-compose.browser.yml
# goclaw/docker-compose.claude-cli.yml
# goclaw/docker-compose.otel.yml
goclaw/docker-compose.postgres.yml
# goclaw/docker-compose.redis.yml
# goclaw/docker-compose.sandbox.yml
goclaw/docker-compose.selfservice.yml
# goclaw/docker-compose.tailscale.yml
goclaw/docker-compose.upgrade.yml
# picoclaw/docker/docker-compose.full.yml
use/goclaw/service.goclaw.yml

# === OVERLAY (optional) ===
podman/+network-fix.yml
podman/+user-fix.yml
# postgres/+low-cpu.yml
# use/goclaw/+dockerfile.yml
use/goclaw/+self-improve.yml
